<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="envURL" value="https://wiki.saucelabs.com/display/DOCS/Platform+Configurator#/"/>
    <add key="runTestLocation" value="local"/>
    <add key="expectedCode" value="caps = Selenium::WebDriver::Remote::Capabilities.firefox()\r\ncaps['platform'] = 'Linux'\r\ncaps['version'] = '28.0'\r\ncaps['recordVideo'] = false"/>
  </appSettings>
</configuration>